# Refuser l'accès à tous les fichiers par défaut
Order Allow,Deny
Deny from all

# Autoriser l'accès uniquement aux fichiers qui correspondent à 'index___ .html'
<FilesMatch "^index.*\.html$">
    Allow from all
</FilesMatch>

# Autoriser l'accès à tous les fichiers JavaScript
<FilesMatch "\.js$">
    Allow from all
</FilesMatch>

# Autoriser l'accès à tous les fichiers php
<FilesMatch "\.php$">
    Allow from all
</FilesMatch>

# Autoriser l'accès à tous les fichiers jpg
<FilesMatch "\.jpg$">
    Allow from all
</FilesMatch>
# Autoriser l'accès à tous les fichiers png
<FilesMatch "\.png$">
    Allow from all
</FilesMatch>

# Autoriser l'accès à tous les fichiers css
<FilesMatch "\.css$">
    Allow from all
</FilesMatch>

<FilesMatch "\.html$">
    Allow from all
</FilesMatch>